*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring.hidden {
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid lightskyblue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightskyblue transparent transparent transparent;
  z-index: 1000;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: URL("/images/desert.jpg") top center no-repeat;*/
  background-color: beige;
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
  color: #f5f0f0;
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.35),
    -1px 1px 1px rgba(17, 17, 17, 0.35), 1px -1px 1px rgba(17, 17, 17, 0.35),
    -1px -1px 1px rgba(17, 17, 17, 0.35);
  font-size: 2.5rem;
}

h2,
strong {
  color: white;
}

.back {
  display: flex;
  align-items: flex-end;
}

.div-home {
  display: grid;
  margin-top: 50px;
  grid-template: 210px / auto auto auto auto;

  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

.div-home > div {
  background-color: rgb(129, 224, 231);

  opacity: 0.7;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  text-shadow: rgb(10, 0, 0);
  color: white;
  border-style: groove;
  background-color: #202020;

  opacity: 0.75;
}

a {
  text-decoration: none;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.error {
  color: red;
  padding: 20px;
  border-style: dotted;
  position: absolute;
  top: 40%;
  left: 40%;
}

.success {
  padding: 20px;
  border-style: dotted;
  border-color: green;
  position: absolute;
  top: 40%;
  left: 40%;
}

.welcome {
  padding: 20px;
  border-style: dotted;
  border-color: green;
  position: absolute;
  top: 40%;
  left: 40%;
}

.access {
  position: fixed;

  width: 100%;
  height: 3%;
  left: 350px;
  display: flex;
  align-items: center;
}

.access a,
.btn {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  align-content: space-between;
  margin-right: 50px;
}

.news {
  background-color: rgb(156, 148, 148);
  opacity: 0.7;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  text-shadow: rgb(10, 0, 0);
  color: white;
  border-style: groove;
  background-color: #a5d5eb;
  width: 50%;
  align-content: center;
  margin-left: 450px;
}

.delete {
  border: 3px solid #e20707;
  width: 150px;
}

.signin-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  align-items: center;
}

.register-form,
.new-user,
.message {
  display: flex;
  align-content: space-around;
  align-content: flex-end;
  justify-content: space-around;
  padding: 0.5em;
}

#email,
#password {
  padding: 10px;
}

label {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(231, 223, 223, 0.35),
    -1px 1px 1px rgba(231, 223, 223, 0.35),
    1px -1px 1px rgba(231, 223, 223, 0.35),
    -1px -1px 1px rgba(231, 223, 223, 0.35);
}
