
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: URL('/images/lamp.jpg');
    margin: 0;
    padding: 0;

  }


h1 , p   {
  text-align: center;
  color: #f5f0f0;
  text-shadow: 
  1px 1px 1px rgba(17, 17, 17, 0.35),
  -1px 1px 1px rgba(17, 17, 17, 0.35),
  1px -1px 1px rgba(17, 17, 17, 0.35),
  -1px -1px 1px rgba(17, 17, 17, 0.35);
  font-size: 2.5rem;
  font-weight:bold;
  } 

.back{
  display: flex;
  align-items: flex-end;
}

.btn{
  border-style:  double solid;
  padding: 10px;
  width: 70px;
  height: 30px;
  margin-left: 95.25rem;
  
  
  
}

  .div-home , .div-leisure{
  display: grid;
  margin-top:50px;
  grid-template: 180px / auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;

}

.div-home  > div {
  background-color: rgb(39, 37, 37);
  opacity: 0.70;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  text-shadow: rgb(10, 0, 0);
  color: white;
  border-style: groove;
  background-color: #000000;
    
  opacity: 0.75;

}

.div-leisure > div {
    background-color: rgb(39, 37, 37);
    opacity: 0.70;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    text-shadow: rgb(252, 251, 251);
    color: white;
    border-style: groove;
    background-color: #000000;
      
    opacity: 0.75;

}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.img{
  width: 5px;
  height: 5px;
}